:root {
    --background-image: url('../terrains/sea/images/fleet.png');
    --background-image-space: url('../terrains/space/images/spacefleet.png');
    --logo-image-space: url('../terrains/space/images/space-logo.png');
}

body.space {
    background-image: var(--background-image-space);
    background-repeat: repeat;
}

body.space img.logo {
    content: var(--logo-image-space);
}