:root {
    --rail-cursor-image: url('../images/rail32.png');
    --bolt-cursor-image: url('../images/bolt32.png');
    --bolt-grey-cursor-image: url('../images/boltol32.png');
    --missile-cursor-image: url('../images/missile32.png');
    --missile-grey-cursor-image: url('../images/missileol32.png');
    --white-rail-image: url('../images/whiterail26.png');
    --black-rail-image: url('../images/blackrail26.png');
    --white-round-image: url('../images/whiteround26.png');
    --black-round-image: url('../images/blackround26.png');
    --flying-missile-image: url('../images/flyingmissile40.png');
    --flying-bolt-image: url('../images/flyingbolt40.png');
    --flying-round-image: url('../images/flyinground40.png');
    --asteroid-explode-image: url('../images/asteroid-explosion.png');
    --space-explode-image: url('../images/space-explosion.png');
    --plasma-explode-image: url('../images/plasma-explosion.png');
    --launch-cursor-image: url('../images/launch32.png');
    --launch2-cursor-image: url('../images/launch32_2.png');
    --launch3-cursor-image: url('../images/launch32_3.png');
    --launch4-cursor-image: url('../images/launch32_4.png');
}


.explosion.asteroid {
    background-image: var(--asteroid-explode-image);
}


.explosion.plasma {
    background-image: var(--plasma-explode-image);
}

.cell.rail,
.board.rail {
    cursor: var(--rail-cursor-image) 26 26, pointer;
}

.board.rail.not-step {
    cursor: var(--bolt-grey-cursor-image) 26 26, pointer;
}

.board.bolt {
    cursor: var(--bolt-cursor-image) 26 26, pointer;
}

.board.bolt.not-step {
    cursor: var(--bolt-grey-cursor-image) 26 26, pointer;
}

.board.missile {
    cursor: var(--missile-cursor-image) 6 6, pointer;
}

.board.missile.not-step {
    cursor: var(--missile-grey-cursor-image) 6 6, pointer;
}

.cell.launch.turn3 {
    cursor: var(--launch3-cursor-image) 16 24, pointer;
}

.cell.launch.turn4 {
    cursor: var(--launch4-cursor-image) 24 16, pointer;
}

.flying-weapon.cursor.missile {
    background-image: var(--missile-cursor-image);

}

.flying-weapon.cursor.bolt {
    background-image: var(--bolt-cursor-image);

}

.flying-weapon.cursor.rail {
    background-image: var(--rail-cursor-image);

}

.cell.launch,
.board.launch {
    cursor: var(--launch-cursor-image) 16 6, pointer;
}

.cell.launch.turn2 {
    cursor: var(--launch2-cursor-image) 6 16, pointer;
}

.flying-weapon.missile {
    background-image: var(--flying-missile-image);

}

.flying-weapon.rail-bolt {
    background-image: var(--flying-bolt-image);

}

#modeIcon1.missile::before {
    background-image: url('../images/boxlaunch56.png');
}

#modeIcon2.missile::before {
    background-image: url('../images/boxmissile40.png');
}

#modeIcon1.missile.off::before {
    background-image: url('../images/boxlaunchol56.png');
}

#modeIcon2.missile.off::before {
    background-image: url('../images/boxmissileol56.png');
}

#modeIcon1.rail-bolt::before {
    background-image: url('../images/boxrail56.png');
}

#modeIcon2.rail-bolt::before {
    background-image: url('../images/boxbolt40.png');
}

#modeIcon1.rail-bolt.off::before {
    background-image: url('../images/boxrailol56.png');
}

#modeIcon2.rail-bolt.off::before {
    background-image: url('../images/boxboltol56.png');
}

.battleship.print-preview div.tally-row.weapon.missile div.tally-box::before {
    content: '+';
}

.battleship.print-preview div.tally-row.weapon.rail-bolt div.tally-box::before {
    content: '|';
}


.battleship:not(.print-preview) .tally-row.weapon.missile div.tally-box:not(.hit):not(.damaged)::before {
    background-image: url('../images/boxmissile28.png');
}

.battleship:not(.print-preview) .tally-row.weapon.missile div.tally-box.used::before {
    background-image: url('../images/boxmissileol28.png');
    opacity: 0.6;
}

.battleship:not(.print-preview) .tally-row.weapon.rail-bolt div.tally-box:not(.hit):not(.damaged)::before {
    background-image: url('../images/boxbolt28.png');
}

.battleship:not(.print-preview) .tally-row.weapon.rail-bolt div.tally-box.used::before {
    background-image: url('../images/boxboltol28.png');
}


.cell.weapon.contrast.bolt.active::before,
.cell.weapon.contrast.rail.active::before {
    background-image: var(--black-rail-image);
}

.cell.weapon.contrast.rlaunch.active::before,
.cell.weapon.contrast.round.active::before {
    background-image: var(--black-round-image);
}

.cell.weapon.rail.active::before {
    content: '';
    width: 26px;
    height: 26px;
    z-index: 3;
    background-image: var(--white-rail-image);
    transition: opacity 0.4s ease-in-out;
}

.cell.weapon.rlaunch.active::before,
.cell.weapon.round.active::before {
    content: '';
    width: 26px;
    height: 26px;
    z-index: 3;
    background-image: var(--white-round-image);
    transition: opacity 0.4s ease-in-out;
}